@charset "utf-8";

*{margin:0; padding:0;}
li{list-style:none;}

a{display:block; 
    text-decoration:none;
     color: inherit;}

img{ vertical-align: top;
    border:0;}

.cf::after{
    content:"";
    display: block;
    clear: both;
}